#welcomediv{
    text-align: center;
}
#definition{
    text-align: center;
}
#usertitle{
    color:rgb(0, 109, 128);
}
.level{
    width:80px;
    height: 30px;
    margin-left:55px;
}
