
#welcomediv{
    box-sizing: border-box;
    text-align: center;
    font-size: 100px;
    letter-spacing: -6px;
}
#welcome{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#definition{
    box-sizing: border-box;
    text-align: center;
}
#usertitle{
    box-sizing: border-box;
    color:rgb(0, 109, 128);
    font-family: sofia;
    
}
.level{
    box-sizing: border-box;
    width:94px;
    height: 41px;
    font-size: 17px;
    margin-left:55px;
    background-color: transparent;
    color: rgb(37, 92, 143);
    border-radius: 17px;
    border-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* #rules{
    position: absolute;
    left: 585px;
    top: 314px;
    width: 180px;
    background-color: rgb(30, 22, 44);
    border-radius: 2px;
    color: white;
    border-color: transparent;
} */
body{
    background-image:url(sudoku-background.jpeg) ;
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain; 
    height: 850px;
    }
#nameOfPage{
    font-size: 50px;
    color: white;
    letter-spacing: -2px;
    font-style: oblique;
}
#rulesbutton{
    position: absolute;
    left: 570px;
    width: 150px;
    top: 287px;
    background-color: rgb(29, 21, 66);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



/* .level-of-diff{
      box-sizing: border-box;
width: 80px;
height: auto;
border-bottom-left-radius: 10px ;
}

#overall-button{
      box-sizing: border-box;
    position: absolute;
    left: 550px;
    top: 250px;
    
    
}
#difficult-header{
      box-sizing: border-box;
    position: absolute;
    left: 600px;
    top: 200px;
} 
 #all{
       box-sizing: border-box;
    height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
} */
