
body{
    background-image:url(sudoku-background.jpeg) ;
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain; 
    height:625px
    }
#welcomediv{
    box-sizing: border-box;
    text-align: center;
    font-size: 100px;
    letter-spacing: -6px;
}
#welcome{
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#definition{
     box-sizing: border-box;
}
#nameOfPage{
    box-sizing: border-box;
    font-size: 50px;
    color: black;
    letter-spacing: -2px;
    font-style: oblique;
}
#usertitle{
    box-sizing: border-box;
    color:rgb(0, 109, 128);
    font-family: sofia;
    
}
.level{
    box-sizing: border-box;
    position: relative;
    width:88px;
    height: 41px;
    font-size: 17px;
    background-color: transparent;
    color: rgb(37, 92, 143);
    border-radius: 17px;
    border-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#push1{
    right:7px;
}
#push3{
   left:7px; 
 }

#rulesbutton{
    position: relative;
    box-sizing: border-box;
    margin-left:65px; 
    top: 30px;
    width: 150px;
    background-color: rgb(29, 21, 66);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

   @media only screen and (width: 768px) {
    #welacom{
        float: left;
    }
    #nameOfPage{
        float: left;
        font-size:35px;
     }
    .button{
        float:left;
    }
    #push1{
       right: 60px;
    }
    #push2{
       right:26px; 
   }
   #push3{
     right: 30px;
   }
    #rulesbutton{
        float: left;
    }
 } 


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    #welacom{
        float: left;
        font-size:30px;
    }
    #usertitle{
        font-size:35px;
    }
    #nameOfPage{
        float: left;
        font-size:20px;
     }
     .button{
         float: left;
     }
     #push1{
       right: 102px;
     }
      #push2{
      right: 47px;
    } 
    #push3{
       left:9px; 
    }
    #rulesbutton{
        float: left;
    }
 } 

  
  

  
  

   
