body{
    background-image: url(sudoku-background.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.cell{
    width: 40px;
    height:40px;
    text-align: center;
}
tr:first-child td{
    border-top-color: black ;
    border-top-width: 5px;
}
tr:nth-child(3n) td {
    border-bottom-color: black ;
    border-bottom-width: 5px;

}
td:first-child {
    border-left-color: black ;
    border-left-width: 5px;

}
td:nth-child(3n){
    border-right-color: black ;
    border-right-width: 5px;

}
.gameButton{
    position: flex;
    background:transparent;
    border-radius: 4px;
    border-color: black;
    color: rgb(17, 56, 51);
     margin: -4px;
    height: 40px; 
    font-size:large;
    background: rgb(29, 21, 66);
    color:white;
}

#head-of-page{
    box-sizing: border-box;
    text-align: center;
    font-size: 75px;
    font-family: sofia;
    
}
#sdk_div{
    box-sizing: border-box;
    position: relative;
    top: 18px;
    left: 50px;
}
 td , tr{ 
     width: 40px;
    height:40px; 
    font-size: larger;
    text-align: center;
    border: 2px groove  rgb(0, 0, 0); 
}
input{
    border: transparent;
}
