.cell{
    /* box-sizing: border-box; */
    width: 40px;
    height: 40px;
    text-align: center;

}
.col-2{
    position: absolute;
    top: -189px;
    right: -440px;
    background: transparent;
    border-radius: 4px;
    border-color: black;
    color: rgb(17, 56, 51);
    margin: -4px;
    width: 50px;
    height: 40px;
    font-size: x-large;
    
}
 body{
    background-image: url(sudoku-background.jpeg);
    background-repeat: no-repeat;
}
#head-of-page{
    box-sizing: border-box;
    text-align: center;
    font-size: 80px;
    font-family: sofia;
    
}
#sdk_div{
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    left: 500px;
}

td , tr{
    width: 40px;
    height: 40px;
    font-size: larger;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid  rgb(105, 185, 167); 
}
/* table{
    width: 400px;
    height: 400px;
    font-size: x-large;
    text-align: center;
    font: bold;
} */