body{
    background-image: url(sudoku-background.jpeg);
    background-repeat: no-repeat;
    /* width: 100%;
    background-size: contain; 
    height: 100%; */
}
.cell{
    /* box-sizing: border-box; */
    width: 40px;
    height:40px;
    text-align: center;
}
tr:first-child td{
    border-top-color: black;
}
tr:nth-child(3n) td {
    border-bottom-color: black;
}
td:first-child {
    border-left-color: black;
}
td:nth-child(3n){
    border-right-color: black;
}
.col-2{
    position: flex;
    top: -189px;
    right: -440px; 
    background:transparent;
    border-radius: 4px;
    border-color: black;
    color: rgb(17, 56, 51);
     margin: -4px;
    height: 40px; 
    font-size: x-large;
    
}
#validata{
    background: rgb(29, 21, 66);
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#oneMore{
    background: rgb(29, 21, 66);
    color:white;
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#backword{
    background: rgb(29, 21, 66);
    color:white;
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#head-of-page{
    box-sizing: border-box;
    text-align: center;
    font-size: 75px;
    font-family: sofia;
    
}
#sdk_div{
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    left: 500px;
    
}
 td , tr{ 
     width: 40px;
    height:40px; 
    font-size: larger;
    text-align: center;
    /* box-sizing: border-box; */
    border: 5px groove  rgb(105, 185, 167); 
}
<<<<<<< HEAD


/* table{
    width: 400px;
    height: 400px;
    font-size: x-large;
    text-align: center;
    font: bold;
} */
=======
input{
    border: transparent;
}
>>>>>>> 55120d5318f0a6bf79c5a7e4ae40f5b60b98e0be
