#header{
    text-align: center;
    
}
#seperate{
    border-color: grey;
    border-width: 4px;
    border-style: solid;
}
.error{
    color: red;
    font-size: small;
}
button{
    position: absolute;
    left: 819px;
    top: 184px;
}