body{
    background-image: url("http://www.yo-yoo.co.il/rekaim/images/uploads/f9ef48.jpg");
    background-repeat: no-repeat;
    width: 150%;
    background-size: contain; 
}
.header{
    box-sizing: border-box;
    text-align: center;
    font-size:80px;
    line-height: 52px;
    text-align: left;
    position: flex;
    margin-left: 35px;
    top: -10px;
}
#loction{
    margin-left:120px;
}
.row{
    position: absolute;
    top: 100px;
    left: 300px;
}
#login_user{
    border: 1px solid black;
    box-sizing: border-box;

}
#login_pass{
    border: 1px solid black;
    box-sizing: border-box;
   
}
.error{
    box-sizing: border-box;
    color: red;
    font-size: small;
    margin-left:40px;
    height: 15px;
    width: 150px;
   
}
#compile{
    box-sizing: border-box;
    position:flex;
   left:245px;
   margin-top:27px;
    background: black;
    color: white;
    border:none;
    width: 80px;
    height: 40px;
    position: flex;
     left: 120px; 
   border-radius: 2px;
}

.textarea{
    box-sizing: border-box;
    border-radius: 3px;
    width: 200px;
    height: 45px;
    left:40px;
    /* border:none; */
    /* position: absolute; */

    
}
#black-line{
    /* box-sizing: border-box; */
    /* width: 1px; */
     height: 150px;
     position: flex;
      left:100px;  
    

}
.input_icons{
    position: absolute;
}
 /* .row::after {
    content: "";
    clear: both;
    display: table;
  }  */
  
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
   
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* .login_user{
        float: left; 
        border: 1px solid black;   
    }
    .login_pass{
        float: left; 
        border: 1px solid black;
    }
    .black-line{
        float: left; 
    }
    .header{
        float: left; 
    }
    .error{
        float: left; 
    }
    .button{
        float: left; 
    }
  }  */
  


