body{
    background-image: url("http://www.yo-yoo.co.il/rekaim/images/uploads/f9ef48.jpg");
}
#header{
    box-sizing: border-box;
    text-align: center;
    font-size:80px;
    line-height: 52px;
    text-align: left;
    position: absolute;
    left: 150px;
    top: -10px;
}
#loction{
    margin-left:120px;
}
.row{
    position: absolute;
    top: 100px;
    left: 300px;
}
#login_user{
    border: 1px solid black;
}
#login_pass{
    border: 1px solid black;
}
.error{
    box-sizing: border-box;
    color: red;
    font-size: small;
    margin-left:40px;
    height: 15px;
    width: 150px;
   
}
#compile{
    box-sizing: border-box;
    position: relative;
   margin-left:245px;
   margin-top:27px;
    background: black;
    color: white;
    border:none;
    width: 80px;
    height: 40px;
    position: absolute;
    left: 169px;
   border-radius: 2px;
}
/* #main{
}
.col-2{
        /* height: 40px; */
    /* } */
.textarea{
    box-sizing: border-box;
    border-radius: 3px;
    width: 200px;
    height: 45px;
    border:none;
    /* position: absolute; */

    
}
#black-line{
    /* box-sizing: border-box; */
    /* width: 1px; */
     height: 150px;
     position: absolute;
     left:100px; 
    

}
.input_icons{
    position: absolute;
}




