#header{
    text-align: center;
    
}
#seperate{
    border-color: grey;
    border-width: 4px;
    border-style: solid;
}
.error{
    color: red;
    font-size: small;
}
#compile{
    position: absolute;
    left: 819px;
    top: 184px;
}
#main{
    background: #0264d6; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height:calc(100vh);
    width:100%;
    }
.textarea{
    position: absolute;
    /* top: 400px; */
    /* left: 2px; */
    border-radius: 5px;
    

}




